@font-face {
    font-family: League Spartan;
    src: url(/fonts/LeagueSpartan-Bold.otf);

}

* {
    margin: 0;
    font-family: League Spartan;
    color: #dad8b3;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100%;
    overflow: hidden;
}

#canvas,
#canvas2 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(40, 48, 73, 0.9);
    height: 5vh;
    border-bottom: 2px #b00752 solid;
    display: flex;
    align-items: center;
    z-index: 2;

}

.goBackUp {
    font-size: 1.5rem;
    color: #DA0363;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20vh;
}

.navBarLogo {
    background-image: url(/favicon.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    height: 4.5vh;
    width: 4.5vh;
    margin-left: 1vw;
}

.navBarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 5vw;
}

.navBarOption:hover {
    color: #DA0363;
}

body {
    background-color: rgb(15 13 25);
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overscroll-behavior: none
}

#fps {
    position: fixed;
    bottom: 0.5em;
    left: 1vw;
    z-index: -1;
}

.clickMe {
    position: absolute;
    right: 1.4rem;
    bottom: 0.5rem;
    font-size: 0.8rem;
}

#scrollDown {
    background-image: url(/icons/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 3vh;
    width: 3vh;
    right: 1vw;
    position: absolute;
}

.presentation {
    margin-top: 7vh;
    height: 85%
}

#toggleUtils {
    margin-left: auto;
    margin-right: 1vw;
    cursor: pointer;
    background-image: url('/icons/settings.svg');
    background-size: 4vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b00752;
    font-size: 0;
    width: 4vw;
    border: none;
    border-radius: 1vh;
    height: 4.5vh;
}

#utils {
    display: flex;
    top: 4.5vh;
    width: 4vw;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    right: 1vw;
}

#utils button {
    cursor: pointer;
    background-size: 3.5vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5px;
    width: 100%;
    height: 5vh;
    text-align: center;
    border: none;
    border-radius: 1vh;
    background-color: #7b0e3f;
    font-size: 0.8em;
    word-break: break-all
}

.justifyText {
    text-align: justify;
}

.centerText {
    text-align: center;
    display: flex;
    justify-content: center;
}

.leftText {
    text-align: left;
}

#myProjects,
#aboutMe,
#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    align-items: center;
    margin: 0 auto;
    max-width: 70vw;
}

#contact {
    width: 50%;
    margin: auto;
}

ul {
    text-align: left;
}

.hiddenDiv {
    display: none;
    margin-top: 1vh;
}

.smallMiddleText {
    font-size: 1.2rem
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.owoImg {
    height: 100%;
    background-color: #dad8b3;
    border-radius: 20%;
    max-height: 5vh;
}

.cell {
    cursor: pointer;
    position: relative;
    text-align: center;
    min-height: 22vh;
    font-size: 1.5em;
    padding: 1.2rem;
    border-radius: 2vh;
    margin: 2vh;
    background-color: rgba(44, 44, 44, 0.85);
    box-shadow: 0 0 10px #333333;
    flex: 1 1 0;
}

.contactCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 45px;
    border-radius: 50%;

}

.middleText {
    margin-bottom: 3vh;
    margin-left: 45px;
    padding-bottom: 5px;
    font-size: 1.7rem;
    color: #DA0363;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectText {
    flex: 1;
    display: flex;
    justify-content: center;
    color: #DA0363;
}

.smallText {
    font-size: 1rem;
}

.bigText {
    text-align: center;
    font-size: 2.5rem;
}

.biggerText {
    text-align: center;
    font-size: 3.5rem;
}

.hide {
    display: none !important;
}

#mainContent {
    overflow-y: auto;
    height: 100vh;
}

.footer {
    width: 100%;
    background-color: rgb(32 38 58);
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 1rem;

}

.footer img {
    width: 3rem;
    height: 3rem;
    filter: invert(1);
}


@media only screen and (orientation: portrait) {

    #myProjects,
    #aboutMe,
    #contact {
        max-width: unset;
    }

    #toggleUtils {
        width: 12vw;

    }
    .footer{
        padding-bottom: 4rem;
    }
    #utils {
        width: 12vw;
    }

    .navBarOption {
        font-size: 0.8em;
    }

    .cell {
        font-size: 1.2em;
        flex: none;
    }

    .row {
        flex-direction: column;
    }


    #fps {
        margin-left: 2vw;
    }

    #contact {
        width: 100%;
        margin: auto;
    }

    #scrollDown {
        margin-right: 4vw;
    }

    .presentation {
        height: 78%;
    }

}