@font-face {
    font-family: League Spartan;
    src: url(/fonts/LeagueSpartan-Bold.otf);

}

* {
    margin: 0;
    font-family: League Spartan;
    color: #dad8b3;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
html{
   height:100%;
   overflow:hidden;
}
#canvas,
#canvas2 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    /* animation: pulse 10s infinite; */
    background-color: rgb(22, 22, 22);
    padding: 0;
    margin:0;
    overflow-y: hidden;
    overscroll-behavior: none
}

.bgImage {
    opacity: 0.1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 80%;
}

@keyframes pulse {
    0% {
        background-color: #001F3F;
    }

    50% {
        background-color: #FF4136;
    }

    100% {
        background-color: #001F3F;
    }
}

#fps {
    position: absolute;
    bottom: 0.5em;
    right: 40px;
}

.bottomButtons {
    position: fixed;
    width: 100px;
    right: 40px;
    top: 0.2em;
    padding: 0.2em;
    z-index: 100;
}


.presentation {
    margin-top: 5vh;
    height: 80vh;
}

#toggleUtils {
    cursor: pointer;
    background-image: url('/icons/settings.svg');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b00752;
    font-size: 0;
    width: 100%;
}

#utils {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bottomButtons button {
    cursor: pointer;
    margin-top: 5px;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 1vh;
    background-color: #7b0e3f;
    font-size: 1em;
    word-break: break-all
}

.justifyText {
    text-align: justify;
}

.centerText {
    text-align: center;
}

.leftText {
    text-align: left;
}

#myProjects,
#aboutMe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.smallMiddleText {
    font-size: 18px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cell {
    cursor: pointer;
    text-align: center;
    min-height: 20vh;
    font-size: 1.5em;
    padding: 1em;
    border-radius: 2vh;
    margin: 2vh;
    background-color: rgb(42, 42, 42, 0.8);
    flex: 1 1 0;
    
}

.logo {
    width: 45px;
    margin-left: 10px;
    border-radius: 50%;
}

.middleText {
    padding-bottom: 5px;
    font-size: 2rem;
    color: #DA0363;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallText {
    font-size: 1rem;
}

.bigText {
    text-align: center;
    font-size: 2.5rem;
}

.biggerText {
    text-align: center;
    font-size: 3.5rem;
}

.hide {
    display: none !important;
}

#mainContent {
    overflow-y: auto;
    height: 110vh;
}

@media only screen and (orientation: portrait) {
    .bottomButtons button {
        height: 60px;
        padding: 1px;
        font-size: 0.9em;
        width: 65px;
    }

    .bottomButtons {
        width: 65px;
    }

    .cell {
        font-size: 1.2em;
        flex: none;
    }

    .row {
        flex-direction: column;
    }

    .bottomButtons {
        right: 0.5em;
    }

    #fps {
        right: 0.5em;
    }
}