@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic&display=swap");

.foreground {
  background-color: #353535;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem;
}
#canvasTable{
  background-color: white;
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.drawingTable{
  justify-content: center;
  display: flex;
}
.colorChoser {

  position: fixed;
  right: 1rem;
  top: 1rem;
  height: 80%;
  display: flex;
  padding-top: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
}
*{
  user-select: none;
  color: white;
}
input {
  max-width: 100px;
}
.nav-prop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-wrapper{
  justify-content: space-between;
  display: grid;
  gap: 0.6rem;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1rem;
  border-radius: 1rem;
}
.colorPickerDiv{
  display: flex !important;
  margin: 0.5rem 0.2rem;
  padding: 0.25rem;
  border-radius: 0.4rem;
  background-color: rgb(83,83,83);
  justify-content: space-between;
  align-items: center;
}
body,html {
  background-color: rgb(25,25,25) ;
  font-family: Arial;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#saveImage {
  float: right;
}

td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

@media only screen and (orientation: portrait) {
  .top {
    width: calc(100vw - 2rem);
  }

  input {
    max-width: 60px;
  }
  .drawingTable{
    width:95%
  }
  #saveImage,
  #generate,
  #btnAddColor{
    max-width: 100px;
  }
  .colorChoser {
    width: calc(100vw - 2rem);
    position: unset;
    height: 20%;
    left:4%;
    padding-top: 1em;
    overflow: auto;
    display: inline-block;
  }
}