@font-face {
	font-family: League Spartan;
	src: url(/assets/fonts/LeagueSpartan-Bold.otf);
}
:root{
	--background: #0f0d19;
	--text-color: #dad8b3;
	--accent: #da0363;
	--accent-darker: #b00752;
	--accent-darker2: #811041;
	--accent-darker3: #690c35;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: League Spartan;
	color: var(--text-color);
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
a {
	text-decoration: none;
}
html {
	height: 100%;
	overflow: hidden;
}
body {
	z-index: -2;
	background-color: var(--background);
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	overscroll-behavior: none;
}

#canvas,
#canvas2 {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.navbar {
	position: fixed;
	top: 0;
    width: 100%;
	background: rgba(32, 40, 63, 1);
	height: 3.2rem;
	padding-left: 0.3rem;
	display: flex;
	justify-content: center;
	z-index: 2;
	border-bottom: 2px var(--accent-darker) solid;
}
.navbar-dropdown{
	position: absolute;
	top: 3.2rem;
	left: 0;
	width: 100%;
	background: rgba(32, 40, 63, 0.9);
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
	grid-gap: 1.5rem;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	padding-left: 1rem;
	transform: translateY(calc(-100% - 3.2rem));
	transition: all 0.2s ease-out;
	opacity: 0;
}
.navbar-dropdown div{
	font-size: 1.2rem;
}


.dropdown-buttons{
	display: flex;
	flex-wrap: wrap;
}
.dropdown-buttons button{
	cursor: pointer;
	background-size: 1.5rem;
	background-position: center;
	background-repeat: no-repeat;
	width: 2.8rem;
	margin: 0 0.2rem;
	height: 2.4rem;
	text-align: center;
	border: none;
	border-radius: 0.4rem;
	background-color: var(--accent-darker);
    transition: 0.2s all ease-out;
	font-size: 0.8rem;
	word-break: break-all;
}

.dropdown-buttons button:first-child{
	margin-left: 0 !important;	
}

.goBackUp {
	font-size: 1.5rem;
	color: var(--accent);
	text-align: center;
	cursor: pointer;
	margin-bottom: 20vh;
}

.navBarLogo {
	display: flex;
	align-items: center;
	height: 100%;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: contain;
}
.navbar-content, .navbar-content-mobile{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	display: flex;
	z-index: 2;
}
.navbar-content{
	justify-content: space-between;
}
.navbar-content-mobile{
	display: none;
}
.navBarLogo img{
	height: 2.4rem;
	width: 2.4rem;
}

.clickMe {
	position: absolute;
	right: 0.8rem;
	bottom: 0.5rem;
	font-size: 0.8rem;
}

#scrollDown {
	background-image: url("/assets/icons/arrow.svg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 2rem;
	width: 1.5rem;
	right: calc(50vw - 0.75rem);
	bottom: 0.5rem;
	position: fixed;
	animation: jump 1.2s;
	animation-iteration-count: 16;
}
#scrollDown .hidden {
	display: none;
}
@keyframes jump {
	0% {
		transform: translateY(0) rotate(90deg);
	}
	50% {
		transform: translateY(-100%) rotate(90deg);
	}
	100% {
		transform: translateY(0) rotate(90deg);
	}
}
.presentation {
	height: 110%;
}

#toggleUtils {
	cursor: pointer;
	background-image: url("/assets/icons/settings.svg");
	background-size: 1.5rem;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--accent-darker);
	font-size: 0;
	border: none;
    width: 3.6rem;
	height: 101%;
    z-index: 2;
}

#utils {
	display: grid;
	top: 3.15rem;
	width: 3.6rem;
    padding: 0.25rem;
    grid-template-columns: 1fr;
    gap: 0.25rem;
    grid-gap: 0.25rem;
	position: fixed;
	right: 0.25rem;
    background-color: var(--accent-darker);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.2s all ease-out;
}
#utils button {
	cursor: pointer;
	background-size: 1.5rem;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 2.4rem;
	text-align: center;
	border: none;
	border-radius: 0.4rem;
	background-color: var(--accent-darker3);
    transition: 0.2s all ease-out;
    opacity: 0;
	font-size: 0.8rem;
	word-break: break-all;
}
#utils button:hover{
	background-color: var(--accent-darker2);
}
.utils-visible{
    transform: translateY(0) !important;
    opacity: 1 !important;
}
.utils-visible button{
    opacity: 1 !important;
}


#myProjects,
#aboutMe,
#contact {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	align-items: center;
	margin: 0 auto;
}

#myProjects{
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 0.8rem;
    grid-gap: 0.8rem;
}
#contact {
	width: 50%;
	margin: auto;
	margin-top: 5rem;
}

ul {
	text-align: left;
}

.hiddenDiv {
	display: none;
    flex-direction: column;
	margin-top: 0.5rem;
}

.smallMiddleText {
	font-size: 1.2rem;
    line-height: 1.3rem;
}


.owoImg {
	height: 100%;
	background-color: var(--text-color);
	border-radius: 20%;
	max-height: 2rem;
}

.cell, .about-me-wrapper, .project, .contactCell{
	cursor: pointer;
	height: fit-content;
	position: relative;
	text-align: left;
	min-height: 22vh;
	padding: 0.6rem;
	border-radius: 0.6rem;
    width: 20rem;
    transition: all 0.2s;
	background-color: rgba(31, 29, 37, 0.9);
}
.project{
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.accent-text{
    color:  var(--accent);
}

.project:hover, .cell:hover{
    transform: scale(1.02);
	filter: brightness(1.1);
	background-color: rgba(31, 29, 37, 0.95);

}

.project:active, .cell:active{
    transform: scale(1.02);
}
.project-image{
    width: 100%;
    object-fit: cover;
    height: 9rem;
    transition: all 0.2s;
    filter: brightness(0.7);
    opacity: 0.85;
    object-position: center center;
}
.project:hover .project-image{
    filter: brightness(0.9);
}
.project-content{
    padding: 0.6rem 0.8rem;
	padding-top: 0.8rem;
    margin-top: auto;
}
.project-content .project-title{
    margin: 0;
    font-size: 1.3rem;
}
.project-button{
    padding: 0.6rem 0.8rem;
    color: var(--text-color);
    text-align: center;
    font-size: 0.9rem;
    border-radius: 0.4rem;
    margin-bottom: 0.2rem;
    background-color: rgba(41, 38, 49, 0.9);
    width: 100%;
}
.project-content .project-text,.project-text-border{
    font-size: 0.9rem;
    padding: 0;
    padding-left: 0.5rem;
    margin: 0.3rem;
    margin-left: 0;
    line-height: 1.2rem;
}
.project-text-border{
    border-left: solid 2px #3d4553;
    padding-top: 0.2rem;
}
.about-me-wrapper{
    padding: 0.8rem;
    width: calc(100% - 1.5rem);
    max-width: 40.8rem;
    line-height: 1.2rem;
}
.contactCell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
    min-height: unset;
    padding: 1rem;
    padding-top: 1.2rem;
}

.logo {
	width: 2rem;
	border-radius: 0.4rem;
}

.take-picture{
	background-size: contain;
	background-image: url("data:image/svg+xml,%3Csvg fill='%23dad8b3' stroke-width='0' viewBox='0 0 24 24' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M3 3h2v2H3V3zm4 0h2v2H7V3zm4 0h2v2h-2V3zm4 0h2v2h-2V3zm4 0h2v2h-2V3zm0 4h2v2h-2V7zM3 19h2v2H3v-2zm0-4h2v2H3v-2zm0-4h2v2H3v-2zm0-4h2v2H3V7zm7.667 4l1.036-1.555A1 1 0 0 1 12.535 9h2.93a1 1 0 0 1 .832.445L17.333 11H20a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1v-8a1 1 0 0 1 1-1h2.667zM14 18a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}



.smallText, .project-text {
	font-size: 1rem;
    line-height: 1.2rem;
}
.project-text{
    padding: 0.4rem;
}
.middleText {
	margin-bottom: 0.5rem;
	padding-bottom: 5px;
	font-size: 1.8rem;
	color: var(--accent);
	display: flex;
	align-items: center;
	justify-content: center;
}
.bigText {
	padding: 1rem;
	text-shadow: 3px 3px 9px rgba(0, 0, 0, 1);
	border-radius: 0.5rem;
	text-align: center;
	font-size: 2.5rem;
}

.project-title{
	flex: 1;
	display: flex;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
	color: var(--accent);
}
.hide {
	display: none !important;
}

#mainContent {
	overflow-y: auto;
	height: 100vh;
}


.skills-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    gap: 0.5rem;
	width: 100%;
}

.skills-wrapper > div{
    background-color: rgb(33, 29, 37, 0.5);
    padding: 0.4rem;
    border-radius: 0.5rem;
}
.skills-wrapper .accent-text{
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    padding: 0.4rem;
}
.skills-wrapper ul{
    margin-left: 2rem;
}
.navbar-options {
	display: flex;
	margin-left: 1rem;
	height: 100%;
}
.navbar-options div{
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-top: 0.2rem;
	margin-left: 2rem;
	transition: all 0.2s;
}
.navbar-options div:hover{
	color: var(--accent);
}
.hamburger{
	height: 100%;
	margin-left: auto;
	margin-right: 0.2rem;
	display: flex;
	align-items: center;
}
.hamburger div{
	width: 2.2rem;
	height: 2.2rem;
}
.hamburger-x{
	display: none;
}
.x-visible .hamburger-x{
	display: flex;
}
.x-visible .hamburger-open{
	display: none;
}
.footer {
	width: 100%;
	background-color: rgb(32 38 58);
	margin-top: 2rem;
	display: grid;
	gap: 1rem;
	grid-gap: 1rem;
	align-items: center;
	grid-template-columns: 1fr 2fr;
	padding: 1rem 1.25rem;
	padding-left: 1.5rem;
}
.footer-element{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.footer-element *{
	margin-right: 1rem;
}
.github img{
	width: 3rem;
	height: 3rem;
	filter: invert(1);
}
.donation-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
	height: fit-content;
	justify-content: flex-end;
}
.donation-wrapper a {
	height: 3rem;
	margin: 0.5rem;
}
.footer-link{
	font-size: 1.5rem;
	transition: all 0.2s;
}
.footer-link:hover{
	color: var(--accent);
}
.donation-wrapper a img{
	height: 100%;
}
.paypal,.kofi {
    background-color: #efefef;
	display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;

}

@media only screen and (min-width:480px) {
	::-webkit-scrollbar {
		width: 5px;
		background: rgba(44, 44, 44, 0.9);
	}
	
	::-webkit-scrollbar-track {
		background: none;
	}
	
	::-webkit-scrollbar-thumb {
		background: var(--accent);
		border-radius: 2px;
	}
	
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	.navbar{
		width: calc(100% - 5px);
	}
}
@media only screen and (orientation: portrait) {
    #myProjects{
        grid-template-columns: 1fr;
        width: calc(100% - 1.5rem);
        justify-items: center;
		grid-gap: 0.6rem;
		gap: 0.6rem;
    }

	.dropdown-visible{
		transform: translateY(0);
		opacity: 1;
	}
    .skills-wrapper {
        grid-template-columns: 1fr;
    }
	#scrollDown {
		bottom: 3rem;
	}

	.navbar-content{	
		display: none;
	}
	.navbar-content-mobile{
		display: flex;
	}
	.contactCell{
		width: calc(100% - 1.5rem) !important;
	}
	.navbar-name{
		font-size: 1.3rem;
		margin-top: 0.2rem;
		margin-left: 0.8rem;
	}
	.cell, .project {
        width: 100%;
        max-width: 500px;
		font-size: 1.2rem;
		flex: none;
		margin-bottom: 0.2rem;
	}

	.footer{
		grid-template-columns: 1fr;
		justify-items: center;
	}
	.donation-wrapper{
		justify-content: center;
	}
	#fps {
		margin-left: 2vw;
	}
	#contact {
		width: 100%;
	}
}
