@font-face {
    font-family: League Spartan;
    src: url(/assets/LeagueSpartan-Bold.otf);

}

* {
    margin: 0;
    font-family: League Spartan;
    color: #dad8b3;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100%;
    overflow: hidden;

}
body{
    z-index: -2;
    background-color: #0F0D19;
}

#canvas,
#canvas2 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(40, 48, 73, 0.9);
    height: 2.8rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
    border-bottom: 2px #b00752 solid;
    display: flex;
    align-items: center;
    z-index: 2;
}

.goBackUp {
    font-size: 1.5rem;
    color: #DA0363;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20vh;
}

.navBarLogo {
    background-image: url('/assets/images/favicon.png');
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2.4rem;
    width: 2.4rem;
}

.navBarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 5vw;
}

.navBarOption:hover {
    color: #DA0363;
}

body {
    background-color: rgb(15 13 25);
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overscroll-behavior: none
}


.clickMe {
    position: absolute;
    right: 1.4rem;
    bottom: 0.5rem;
    font-size: 0.8rem;
}

#scrollDown {
    background-image: url('/assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    width: 1.5rem;
    right: 1rem;
    bottom: 3rem;
    position: absolute;
    animation: jump 1s;
    animation-iteration-count: 16;
}
#scrollDown.hidden{
    display: none;
}
@keyframes jump {
    0% { transform: translate(-50%, -50%)}
    50% { transform: translate(-50%, -150%)}
    100% { transform: translate(-50%, -50%)}
}
.presentation {
    margin-top: 7vh;
    height: 85%
}

#toggleUtils {
    margin-left: auto;
    cursor: pointer;
    background-image: url('/assets/icons/settings.svg');
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b00752;
    font-size: 0;
    width: 3rem;
    border: none;
    border-radius: 1vh;
    height: 2.4rem;
}

#utils {
    display: flex;
    top: 2.6rem;
    width: 3rem;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    right: 0.5rem;
}

#utils button {
    cursor: pointer;
    background-size: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5px;
    width: 100%;
    height: 5vh;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    background-color: #7b0e3f;
    font-size: 0.8rem;
    word-break: break-all
}

.justifyText {
    text-align: justify;
}

.centerText {
    text-align: center;
    display: flex;
    justify-content: center;
}

.leftText {
    text-align: left;
}

#myProjects,
#aboutMe,
#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    align-items: center;
    margin: 0 auto;
    max-width: 70vw;
}

#contact {
    width: 50%;
    margin: auto;
    margin-top: 10vh;
}

ul {
    text-align: left;
}

.hiddenDiv {
    display: none;
    margin-top: 1vh;
}

.smallMiddleText {
    font-size: 1.2rem
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.owoImg {
    height: 100%;
    background-color: #dad8b3;
    border-radius: 20%;
    max-height: 5vh;
}

.cell {
    cursor: pointer;
    height: fit-content;
    position: relative;
    text-align: center;
    min-height: 22vh;
    padding: 1.2rem;
    border-radius: 2vh;
    margin: 2vh;
    background-color: rgba(44, 44, 44, 0.9);
    box-shadow: 0 0 10px #333333;
    flex: 1 1 0;
}

.contactCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.logo {
    width: 45px;
    border-radius: 50%;

}

.middleText {
    margin-bottom: 2vh;
    margin-left: 45px;
    padding-bottom: 5px;
    font-size: 1.7rem;
    color: #DA0363;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectText {
    flex: 1;
    display: flex;
    justify-content: center;
    color: #DA0363;
}

.smallText {
    font-size: 1rem;
}
.bmc-btn-text{
    color: black;
}
::-webkit-scrollbar {
	width: 5px;
    background: rgba(44, 44, 44, 0.9)
  }

  ::-webkit-scrollbar-track {
	background: none;
  }

  ::-webkit-scrollbar-thumb {
	background: #DA0363;
	border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }
.bigText {
    padding:1rem;
    text-shadow: 3px 3px 9px rgba(0,0,0 , 1);
    border-radius: 2vh;
    text-align: center;
    font-size: 2.5rem;
}

.biggerText {
    text-align: center;
    font-size: 3.5rem;
}

.hide {
    display: none !important;
}

#mainContent {
    overflow-y: auto;
    height: 100vh;
}

.footer {
    width: 100%;
    background-color: rgb(32 38 58);
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 1rem;

}

.footer img {
    width: 3rem;
    height: 3rem;
    filter: invert(1);
}
.skills-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

@media only screen and (orientation: portrait) {

    #myProjects,
    #aboutMe,
    #contact {
        max-width: unset;
    }
    #scrollDown{
        bottom: 3rem;
    }
    #toggleUtils {
        width: 12vw;

    }
    .footer{
        padding-bottom: 4rem;
        flex-direction: column;
        align-items: center;
    }
    #utils {
        width: 12vw;
    }

    .navBarOption {
        font-size: 0.8em;
    }

    .cell {
        font-size: 1.2rem;
        flex: none;
        margin-bottom: 0;
    }

    .row {
        flex-direction: column;
    }


    #fps {
        margin-left: 2vw;
    }

    #contact {
        width: 100%;
    }

    .presentation {
        height: 78%;
    }

}