@font-face {
    font-family: League Spartan;
    src: url(/fonts/LeagueSpartan-Bold.otf);

}

* {
    font-family: League Spartan;
    margin: 0;
    border: none;
    color: #dad8b3;
    font-size: 0.9rem;
    user-select: none;
}

body {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}

iframe {
    position: absolute;
    height: 99%;
    width: 100%;
    overflow: hidden;
}

canvas {
    width: 40vh;
    height: 40vh;
    image-rendering: pixelated;
    border: #b00752 3px solid;
    border-radius: 1vh;
    padding: 0;
    margin: 0.5rem 0 0.5rem 0;
    background-color: rgb(43 43 43);
}

.buttonsTitle {
    text-align: center;
    margin-bottom: 0.5rem;
}

#inputDiv {
    width: 60%;
    display: flex;
    flex-direction: column;

    margin: 0.2rem;
}

#text {
    width: 100%;
    height: 25vh;
    background-color: rgba(40, 48, 73, 1);
    color: #dad8b3;
    text-align: left;
    border-radius: 1vh;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    padding: 1rem;
    margin: 0.5rem 0 0.5rem 0;
}

#text::placeholder {
    color: #dad8b3;
}

.btnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.drawOnImageWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2vh;
}

#shiftPicker {
    margin-left: 2vw;
    flex: 1;
    cursor: pointer;
}

.btn {
    height: 4vh;
    min-width: 25%;
    background-color: #b00752;
    color: #dad8b3;
    border-radius: 0.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn:hover{
    filter: saturate(70%);
}
.picker {
    width: 60px;
    height: 5vh;
    background-color: #b00752;
    color: #dad8b3;
    border-radius: 1vh;
    margin-left: 1vw;
}

.picker::placeholder {
    color: #dad8b3;
    opacity: 0.5;
}
#hiddenMessage{
    position: absolute;
    bottom: 10vh;
    width: 20vw;
    min-height: 10vh;
    max-height: 15vh;
    right: 1.5vw;
    bottom: 1.5vw;
    background-color: rgb(40, 48, 73);
    border-radius: 1vh;
    display: none;
    text-align:center;
    font-size:1rem;
    padding:1rem;
}
@media only screen and (orientation: portrait) {

    #inputDiv {
        width: 95%;
    }

    #text {
        height: 20vh;
    }
    .btn{
        min-width: 30%;
    }
    #hiddenMessage{
        right: unset;
        width: 60vw;
        bottom: 4vh;
        box-shadow: 0 0 5px 2px #016b6b;
    }
}